<nav class="menu-container d-flex align-items-center">
  <div class="navbar-brand">
    <i class="toggle-icon fas fa-bars fw-bold fs-5"></i>
    <h3 class="brand-logo fw-bolder m-0">Book Social</h3>
  </div>
  <ul class="navbar-menus m-0">
    <li>
      <a [routerLink]="['./']" class="menu-link">
        <i class="menu-icon fas fa-house"></i>
        <span>Home</span></a
      >
    </li>
    <li>
      <a [routerLink]="['./my-book']" class="menu-link"
        ><i class="menu-icon fas fa-book-open"></i><span>My Book</span></a
      >
    </li>
    <li>
      <a [routerLink]="['./borrowed-book']" class="menu-link"
        ><i class="menu-icon fas fa-list-check"></i
        ><span>Borrowed Book</span></a
      >
    </li>
    <li>
      <a [routerLink]="['./waiting-list']" class="menu-link">
        <i class="menu-icon fas fa-heart"></i><span>Waiting List</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['./returned-book']" class="menu-link"
        ><i class="menu-icon fas fa-book-open"></i><span>Returned Book</span></a
      >
    </li>
  </ul>
  <div class="navbar-greeting">
    <p class="m-0">Welcome, <span class="fw-bold">fullname</span></p>
    <i class="menu-icon menu-logout fas fa-door-open"></i>
    <app-search-bar />
  </div>
</nav>
